:host {
  align-items: center;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.app-header {
  background-color: #212223;
  min-height: 40px;
  max-height: 40px;
  color: #efefef;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.app-header img {
  padding: 2px;
  width: 30px;
}
