<ng-container *ngIf="{ value: currentTable$ | async } as table">
  <app-section *ngIf="table.value" [title]="table.value?.displayName">
    <div class="header-actions">
      <button
        kendoButton
        icon="plus"
        fillMode="outline"
        themeColor="primary"
      ></button>
    </div>

    <div class="section-content">
      <kendo-grid [data]="gridData$ | async" scrollable="scrollable" [style.height.%]="100">
        <kendo-grid-column *ngFor="let col of columns$ | async" [field]="col.name"></kendo-grid-column>
        <kendo-grid-command-column [width]="100" fxLayout="row" fxLayoutAlign="space-around center">
          <ng-template kendoGridCellTemplate>
            <button kendoGridEditCommand [primary]="true" icon="edit"></button>
            <button kendoGridRemoveCommand icon="delete"></button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </div>
  </app-section>
  <app-no-data [message]="message"></app-no-data>
</ng-container>
