<div class="l-navbar">
  <button
    kendoButton
    [ngClass]="{
      'toggle-button--rotate': expanded,
      'toggle-button': !expanded
    }"
    icon="arrow-60-right"
    fillMode="clear"
    (click)="toggleMenu()"
  ></button>
  <nav class="nav" [ngClass]="{ 'nav-expanded': expanded }">
    <div class="nav-list">
      <ng-container *ngFor="let table of tables; index as i">
        <button
          class="menu-item"
          kendoButton
          [ngClass]="{'menu-item--active': selectedTable === table}"
          (click)="onSelect(table)"
        >
          {{ table.name }}
        </button>
      </ng-container>
    </div>
  </nav>
</div>
