:host {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex: 1;


  .k-card {
    border-radius: 0;
    overflow: hidden;
    width: auto !important;
  }

  .k-card-body {
    overflow: hidden;
  }

  .k-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 5px 10px;
    background-color: #f3f3f3;

    .title {
      margin: 0;
    }
  }
}
